.checkout_product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.Product_Image {
    object-fit: contain;
    width: 100px;
    height: 180px;
}

.checkoutProducts_info {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-left: 30px;
}

.checkoutProducts_info > button {
    background-color: #af452b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct_rating {
    display: flex;
}