.checkout {
    display: flex;
    padding: 10px;
    background-color: rgb(235, 231, 231);
    height: max-content;
    overflow-y: scroll;
}
.checkout::-webkit-scrollbar {
    display: none;
}


.checkout_title {
    margin-right: 10px;
    padding: 40px;
    border-bottom: 1px solid lightgray;
}
 
.checkoutAds {
    width: 50%;
    margin-bottom: 10px;
   
}

.checkout_left {
    display: flex;
    flex-direction: column;
    width: 1500px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
}

.checkout_left::-webkit-scrollbar {
    display: none;
}


.checkout_right {
  display: flex;
  flex-direction: column;
  width: 100%; 
  align-items: flex-end;
}