.Footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    align-items: center;
    background-color:  #af452b;
}

.Footer > p {
    text-align: center;
    font-size: large;
    font-weight: 400;
}

.Footer > p > a {
    text-decoration: none;
    color: white;
}