.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    margin-top: 2px;
    padding: 10px;
    width: 100% !important;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.product:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.04);
}


.product_info {
    height: 100%;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.product_price {
    margin-top: 6px;
}

.product_rating {
    display: flex;
    margin-top: 6px;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #af452b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #cfc9bb;
    padding: 10px;
    border-radius: 10px;
    color: #efefef;
}