.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal_discount {
    display: flex;
    align-items: center;
}

.subtotal_discount > input {
    margin-right: 5px;
}

.subtotal > button {
    background-color: #af452b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #cfc9bb;
    padding: 10px;
    border-radius: 10px;
    color: #efefef;
}